<div class="container bg-white">
    <h2 class="header">{{header}}</h2>
    <mat-dialog-content class="form-create shadow-md rounded px-8 pt-6 pb-8">
        <div class="mb-3 row field p-top">
            <span class="col-5 text-label" for="productName">
                {{'PRODUCT.NAME' | translate}}
                <label class="require">*</label>
            </span>
            <input matInput
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="productName" type="text" placeholder="" maxlength="200" [(ngModel)]="product.name"
                [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="quantity">
                {{'PRODUCT.QUANTITY_WAREHOUSE' | translate}}
                <label class="require">*</label>
            </span>
            <input matInput
                class="col-4 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="quantity" type="number" placeholder="" min="0" max="999999" [(ngModel)]="product.quantity"
                [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
            <span class="col-3 text-label">(tấn)</span>
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="price">
                {{'PRODUCT.PRICE' | translate}}
                <label class="require">*</label>
            </span>
            <input matInput
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="price" type="number" placeholder="" min="0" max="99999999" [(ngModel)]="product.price"
                [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
        </div>
        <div class="mb-6 row field">
            <span class="col-5 text-label" for="note">
                {{'PRODUCT.NOTE' | translate}}
            </span>
            <textarea
                class="col-7 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="note" type="text" placeholder="" maxlength="1000" [(ngModel)]="product.note"
                [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <!-- <div class="btn-container">
            <button class="btn-cancel py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="onCancel()"
                cdkFocusInitial>{{'BUTTON.CANCEL' | translate}}</button>
            <button class="btn-save py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
                (click)="onSubmit()">
                {{'BUTTON.SAVE' | translate}}
            </button>
        </div> -->
        <div *ngIf="error || (error !== null && error.length > 0)" class="error">
            <span>{{error}}</span>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close class="btn-cancel py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
        <button mat-button class="btn-save py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
            (click)="onSubmit()">{{'BUTTON.SAVE' | translate }}
        </button>
    </mat-dialog-actions>
</div>