<div class="bg-white">
  <h2 class="header">{{'ORDER.TITLE_LIST' | translate}}</h2>
  <div
    class="action-search shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <div class="row">
      <div class="col-6 row">
        <span class="col-6" for="id">{{'ORDER.SEARCH_ID' | translate}}</span>
        <input matInput
          class="col-6 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="id" type="text" maxlength="20" [(ngModel)]="searchForm.id" />
      </div>
      <div class="col-6 row">
        <span class="col-5" for="createdDate">{{'ORDER.CREATEDDATE' | translate}}</span>
        <!-- <input matInput type="date" id="createdDate" name="createdDate"
          class="col-6 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          [(ngModel)]="searchForm.createdDate" value="2023-02-28"
          min="2000-01-01" max="2500-01-01" placeholder="dd-mm-yyyy" pattern="\d{4}-\d{2}-\d{2}"> -->

        <!-- <mat-form-field appearance="fill" class="col-6 border rounded">
          <mat-label>Chọn ngày</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="col-7 border rounded">
          <mat-label>Chọn từ ngày đến ngày</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint style="display: none;" [hidden]="true">DD/MM/YYYY - DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <!-- <p>Selected range: {{range.value | json}}</p> -->
      </div>
    </div>

    <div class="row">
      <div class="col-6 row">
        <span class="col-6" for="agency">{{'ORDER.AGENCY' | translate}}</span>
        <!-- <input matInput
          class="col-6 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="agency" type="text" maxlength="100" [(ngModel)]="searchForm.agency" /> -->
        <select class="col-6 form-select" [(ngModel)]="agencySelected" required>
          <option [ngValue]="null" [disabled]="true" [selected]="true">-- {{'ORDER.SELECT_AGENCY' | translate}} --
          </option>
          <option [ngValue]="item" *ngFor="let item of agencyList">{{item.name}}</option>
        </select>
      </div>
      <div class="col-6 row">
        <span class="col-5" for="product">{{'ORDER.PRODUCT' | translate}}</span>
        <!-- <input matInput
          class="col-6 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="receivedDate" type="date" [(ngModel)]="searchForm.receivedDate"
          min="2000-01-01" max="2500-01-01" placeholder="dd-mm-yyyy" pattern="\d{4}-\d{2}-\d{2}" /> -->

        <!-- <mat-form-field appearance="fill" class="col-6 border rounded">
          <mat-label>Chọn ngày</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field> -->

        <select class="col-7 form-select select-1" [(ngModel)]="productSelected" required>
          <option [ngValue]="null" [disabled]="true" [selected]="true">-- {{'ORDER.SELECT_PRODUCT' | translate}} --
          </option>
          <option [ngValue]="item" *ngFor="let item of products">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-6 row">
        <span class="col-6" for="status">{{'ORDER.STATUS' | translate}}</span>
        <select class="col-6 form-select" [(ngModel)]="selectedStatus">
          <option [ngValue]="null" [disabled]="true" [selected]="true">-- {{'ORDER.LABEL_STATUS' | translate}} --
          </option>
          <option [ngValue]="item" *ngFor="let item of status">{{item.label}}</option>
        </select>
      </div>
      <div class="col-6"></div>
    </div>

    <div class="action-submit">
      <button type="submit" class="btn-search" (click)="onSearch()">
        <mat-icon aria-hidden="false" aria-label="Search icon" fontSet="fas" fontIcon="fa-magnifying-glass"
          class="fa-search"></mat-icon>
        <label>{{'BUTTON.SEARCH' | translate}}</label>
      </button>
    </div>
  </div>
  <div class="action-add">
    <button class="btn-add" (click)="onAdd()">
      <mat-icon aria-hidden="false" aria-label="Add icon" fontSet="fas" fontIcon="fa-plus" class="fa-plus"></mat-icon>
      <label class="pad-label">{{'BUTTON.ADD' | translate}}</label>
    </button>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id" class="nowrap">
          {{'ORDER.ID' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="center">{{element.id}}</td>
      </ng-container>

      <!-- createdDate Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created date"
          class="nowrap">{{'ORDER.CREATEDDATE' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
      </ng-container>

      <!-- contract Column -->
      <ng-container matColumnDef="contract">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contract" class="nowrap">
          {{'ORDER.CONTRACT' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.contract}}</td>
      </ng-container>

      <!-- receivedDate Column -->
      <ng-container matColumnDef="receivedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by received date"
          class="nowrap">{{'ORDER.RECEIVEDDATE' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.receivedDate}}</td>
      </ng-container>

      <!-- deliveryId Column -->
      <ng-container matColumnDef="deliveryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deliveryId" class="nowrap">
          {{'ORDER.DELIVERY_ADDRESS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{compareObj(deliveries, element.deliveryId)}}</td>
      </ng-container>

      <!-- pickupId Column -->
      <ng-container matColumnDef="pickupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pickupId" class="nowrap">
          {{'ORDER.PICKUP_ADDRESS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{compareObj(cities, element.pickupId)}}</td>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productName">
          {{'ORDER.PRODUCT' | translate}}</th>
        <td mat-cell class="wrap-text" *matCellDef="let element" class="nowrap">
          <span *ngFor="let i of element.products">{{i.name}}<br /></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity" class="nowrap">
          {{'ORDER.QUANTITY' | translate}} <br />(tấn)</th>
        <td mat-cell class="wrap-text center" *matCellDef="let element">
          <span *ngFor="let i of element.products">{{i.quantity}}<br /></span>
        </td>
      </ng-container>

      <!-- productTotal Column -->
      <ng-container matColumnDef="productTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productTotal"
          class="nowrap">{{'ORDER.TOTAL' | translate}} (tấn)</th>
        <td mat-cell *matCellDef="let element" class="center">{{element.productTotal}}</td>
      </ng-container>

      <!-- licensePlates Column -->
      <ng-container matColumnDef="licensePlates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by license plates"
          class="nowrap">{{'ORDER.LICENSE_PLATE' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="center">{{element.licensePlates}}</td>
      </ng-container>

      <!-- driver Column -->
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by driver" class="nowrap">
          {{'ORDER.DRIVER' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="nowrap">{{element.driver}}</td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status" class="nowrap">
          {{'ORDER.STATUS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"
          class="{{element.status === 1 ? 'color-black' : (element.status === 4 ? 'color-red' : 'color-green')}}">
          <mat-icon aria-hidden="false" aria-label="Confirm icon" fontSet="fas"
            fontIcon="{{(element.status === 1 || element.status === 2) ? 'fa-spinner' : (element.status === 4 ? 'fa-xmark' : 'fa-check')}}"
            class="status-icon"></mat-icon>
          <label class="pad-label">{{(element.status === 1 ? 'ORDER.STATUS_WAITING' : (element.status === 2 ?
            'ORDER.STATUS_RECEIVING' : (element.status === 3 ? 'ORDER.STATUS_RECEIVED' : 'ORDER.STATUS_CANCEL'))) |
            translate}}</label>
        </td>
      </ng-container>

      <!-- delete action Column -->
      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <div class="center">
            <mat-icon aria-hidden="false" aria-label="Edit icon" fontSet="fas" fontIcon="fa-pen" class="fa-pen"
              (click)="onEdit(element)"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Print icon" fontSet="fas" fontIcon="fa-print" class="fa-print"
              (click)="onPrint(element)"></mat-icon>
            <!-- <mat-icon [hidden]="!isAdmin" aria-hidden="false" aria-label="Download icon" fontSet="fas" fontIcon="fa-download"
              class="fa-download" (click)="onDownloadPDF(element)"></mat-icon> -->
            <mat-icon [hidden]="!isAdmin" aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-trash"
              class="fa-trash" (click)="onDelete(element)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <!-- <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <tr mat-row [class.row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div class="action-export">
    <button class="btn-export" (click)="exportExcel()">
      <mat-icon aria-hidden="false" aria-label="Export icon" fontSet="fas" fontIcon="fa-download"
        class="fa-download"></mat-icon>
      <label class="pad-label">{{'BUTTON.DOWNLOAD' | translate}}</label>
    </button>
  </div>
  <div class="py-5"></div>
</div>