.container {
    padding: 1rem 2rem;
    display: block;

    .bar-chart {
        padding: 1.5rem 1rem;
    }

    .pie-chart {
        margin: 2rem 0;
        padding: 1.5rem 1rem;

        .pie {
            padding-top: 1rem;
            margin: auto;
            width: 700px !important;
            height: 700px !important;
        }

    }
}