<div class="container">
    <div class="bar-chart card">
        <h2>{{'DASHBOARD.BAR_CHART_TITLE' | translate}}</h2>
        <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend">
            </canvas>
        </div>
    </div>

    <div class="pie-chart card">
        <h2>{{'DASHBOARD.PIE_CHART_TITLE' | translate}}</h2>
        <div style="display: block;">
            <canvas class="pie" baseChart [data]="pieChartData" [type]="pieChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" [options]="pieChartOptions" [plugins]="pieChartPlugins">
            </canvas>
        </div>
    </div>
</div>