<div class="bg-white">
  <h2 class="header">{{'PRODUCT.TITLE_LIST' | translate}}</h2>

  <div class="action-add">
    <button class="btn-add" (click)="onEdit(null)">
      <mat-icon aria-hidden="false" aria-label="Add icon" fontSet="fas" fontIcon="fa-plus" class="fa-plus"></mat-icon>
      <label class="pad-label">{{'BUTTON.ADD' | translate}}</label>
    </button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">{{'PRODUCT.ID' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <!-- productName Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productName">{{'PRODUCT.NAME' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="nowrap">{{element.name}}</td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">{{'PRODUCT.QUANTITY_INVENTORY' | translate}}<br />(tấn)
        </th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">{{'PRODUCT.PRICE' | translate}}<br />(VND)
        </th>
        <td mat-cell *matCellDef="let element">{{element.price}}</td>
      </ng-container>

      <!-- note Column -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by note">{{'PRODUCT.NOTE' | translate}}</th>
        <td mat-cell class="wrap-text" *matCellDef="let element">{{element.note}}</td>
      </ng-container>

      <!-- delete action Column -->
      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <div class="center">
            <mat-icon aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-pen" class="fa-pen"
              (click)="onEdit(element)"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-trash" class="fa-trash"
              (click)="onDelete(element)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>