<div class="container bg-white">
  <h2 class="header p-bottom">{{header}}</h2>
  <mat-dialog-content class="form-create shadow-md rounded px-8 pt-6 pb-8">
    <div class="mb-3 row field" [hidden]="order.id === 0">
      <span class="col-5 text-label" for="id">
        {{'ORDER.ID' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput [disabled]="true"
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="id" type="text" maxlength=10 [(ngModel)]="order.id" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="createdDate">
        {{'ORDER.CREATEDDATE' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput [disabled]="true"
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="createdDate" type="text" maxlength=15 [(ngModel)]="order.createdDate"
        [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="contract">
        {{'ORDER.CONTRACT' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="contract" type="text" placeholder="HĐBB2023/XMHT" maxlength=50 [(ngModel)]="order.contract"
        [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
    </div>
    <div class="mb-3 row field" [hidden]="!isAdmin">
      <span class="col-5 text-label" for="agency">
        {{'ORDER.AGENCY' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="agency" type="text" placeholder="" maxlength=200 [(ngModel)]="order.agencyName"
        [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="deliveryId">
        {{'ORDER.DELIVERY_ADDRESS' | translate}}
        <label class="require">*</label>
      </span>
      <!-- <mat-form-field appearance="fill"
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <mat-label>{{'ORDER.CITY' | translate}}</mat-label>
        <mat-select 
        placeholder="Chon tinh/tp"
        [compareWith]="compareObjects"
        [(value)]="deliverySelected" required>
          <mat-option [value]="0">-----</mat-option>
          <mat-option *ngFor="let item of deliveries" [value]="item.id">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <select class="col-7 form-select" [(ngModel)]="deliverySelected" required>
        <option [ngValue]="null" [disabled]="true" [selected]="true">-- {{'ORDER.CITY' | translate}} --</option>
        <option [ngValue]="item" *ngFor="let item of deliveries">{{item.label}}</option>
      </select>
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="pickupId">
        {{'ORDER.PICKUP_ADDRESS' | translate}}
        <label class="require">*</label>
      </span>
      <select class="col-7 form-select" [(ngModel)]="pickupSelected" required>
        <option [ngValue]="null" [disabled]="true" [selected]="true">-- {{'ORDER.CITY' | translate}} --</option>
        <option [ngValue]="item" *ngFor="let item of cities">{{item.label}}</option>
      </select>
      <!-- <mat-form-field appearance="fill" class="col-7 border rounded">
        <mat-label>{{'ORDER.CITY' | translate}}</mat-label>
        <mat-select [(ngModel)]="pickupSelected" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of cities" [value]="item.id">
            {{item.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pickupCityControl.hasError('required')">Please choose a city</mat-error>
      </mat-form-field> -->
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="products">
        {{'ORDER.PRODUCT_TYPE' | translate}}
        <label class="require">*</label>
      </span>
      <div class="col-7 row">
        <div *ngFor="let item of order.products" class="custom-div">
          <input matInput [disabled]="true"
            class="col-7 appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name" type="text" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}" />
          <input matInput
            class="col-3 margin appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="quantity" type="number" max="1000" min="0" maxlength="4" [(ngModel)]="item.quantity"
            [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
          <span class="col-2 label-ton">(tấn)</span>
        </div>
      </div>
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="productTotal">
        {{'ORDER.LABEL_TOTAL' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput (mouseup)="onKeyUp($event)"
        class="col-5 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="productTotal" type="number" max="99999" [(ngModel)]="order.productTotal"
        [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
      <span class="col-2 text-label label-ton">(tấn)</span>
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="transport">
        {{'ORDER.TRANSPORT' | translate}}
        <label class="require">*</label>
      </span>
      <select class="col-7 form-select" [(ngModel)]="transportSelected" required>
        <option [ngValue]="null" [disabled]="true" [selected]="true">-- {{'ORDER.SELECT_TRANSPORT' | translate}} --</option>
        <option [ngValue]="item" *ngFor="let item of transport">{{item.label}}</option>
      </select>
      <!-- <mat-form-field appearance="fill" class="col-7 border rounded">
        <mat-label>{{'ORDER.SELECT_TRANSPORT' | translate}}</mat-label>
        <mat-select [formControl]="transportControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of transport" [value]="item.value">
            {{item.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transportControl.hasError('required')">Please choose a transport</mat-error>
      </mat-form-field> -->
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="licensePlates">
        {{'ORDER.LICENSE_PLATE' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="licensePlates" type="text" placeholder="KG1234" maxlength=50 [(ngModel)]="order.licensePlates"
        [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="driver">
        {{'ORDER.DRIVER' | translate}}
        <label class="require">*</label>
      </span>
      <input matInput
        class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="driver" type="text" placeholder="Nguyen Van A" maxlength="50" [(ngModel)]="order.driver"
        [ngModelOptions]="{standalone: true}" [errorStateMatcher]="matcher" />
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="receivedDate">
        {{'ORDER.LABEL_RECEIVEDDATE' | translate}}
        <label class="require">*</label>
      </span>
      <mat-form-field appearance="fill" class="col-5 border rounded">
        <mat-label>Chọn ngày nhận</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mb-3 row field">
      <span class="col-5 text-label" for="note">
        {{'ORDER.NOTE' | translate}}
      </span>
      <textarea
        class="col-7 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="note" type="text" placeholder="" maxlength="1000" [(ngModel)]="order.note"
        [ngModelOptions]="{standalone: true}"></textarea>
    </div>

    <div class="mb-6 row field" [hidden]="!isAdmin && !isUpdated">
      <span class="col-5 text-label" for="status">
        {{'ORDER.STATUS' | translate}}
      </span>
      <mat-radio-group class="col-7" [(ngModel)]="selectedStatus">
        <mat-radio-button *ngFor="let item of status" [value]="item">
          {{item.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="error || (error !== null && error.length > 0)" class="notification">
      <span>error</span>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="btn-cancel py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
    <button mat-button class="btn-save py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
      (click)="onSubmit()">{{'BUTTON.SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</div>